@model IEnumerable<WebShopNPT.Models.Category>

@{
    ViewData["Title"] = "IndexC";
}

<h1>Category</h1>

<p1><button type="submit" class="btn-info"><a href="/Category/AddC" style="text-decoration: none">AddCate</a></button></p1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"><button type="submit" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Product" asp-action="IndexP"><button type="submit" class="btn btn-danger">Back to List</button></a>
